*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
    background-color: white;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size:1.8rem;
}

p{
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: black;
}

.head_container{
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    flex-wrap: wrap;
    background: white;
    height: 56px;
    position: sticky;
    top: 0;
    overflow: auto;

}

.menu_logo{
    height: 24px;
    display: flex;
    flex-direction: row;
}

.menu_logo a{
    text-decoration: none;
}

.menu_logo a sup{
    padding-left: 2px;
    font-size: 10px;
    color: black;
}

.menu_logo img[src*="youtube"]{
    width: 90px;
    padding: 5px;
    margin-left: 32px;
}

.menu_logo img[src*="menu"]{
    width: 24px;
    height: 24px;
    padding: 5px;
}

.menu_logo a img[src*="menu"]:hover{
    background: #9f9b9b5d;
    border-radius: 50%;
}

.pesquisa{
    height: 40px;
    width: 470px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.pesquisa input{
    width: 348px;
    height: 40px;
    border-radius: 20px 0 0 20px;
    padding-left: 8px;
    margin-right: -5px;
    border: 1px solid black;
}

.pesquisa button{
    width: 57px;
    height: 40px;
    border-radius: 0 20px 20px 0;
    border: 1px solid black;
}

.pesquisa button img{
    width: 11px;
}

.pesquisa svg{
    position: absolute;
    padding: 5px;
    width: 24px;
    height: 24px;
    top: 2px;
    right: 25px;
    background: #cac7c75d;
    border-radius: 50%;
}

.pesquisa svg:hover{
    background: #9f9b9b5d;
}

.perfil{
    display: flex;
    height: 40px;
}

.perfil img{
    width: 30px;
    margin-right: 24px;
}

.perfil img[src*="avatar"]{
    width: 40px;
}

#content_page{
    display: flex;
    margin-top: 28px;
}

.conteudo_video{
    width: 952px;
    height: 776px;
    margin: 0px 25px 0 75px;
}

.conteudo_video iframe{
    border-radius: 15px;
}

.conteudo_video h3{
    margin: 16px 0;
}

.botoes{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 16px 0;
    align-items: center;
}

.info_canal{
    margin: 0px 25px 0px 12px;
}

.info_canal h4, .info_canal p{
    margin: 0 10px;
    font-size: 1.6rem;
    font-weight: 600;
}

.info_canal p{
    color: #515151;
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: 5px;
}

#btn_subscribe{
    box-sizing: border-box;
    width: 109px;
    height: 36px;
    background: black;
    color: white;
    padding: 8px 0px 0px 15px;
    margin: 0px 180px 0px 0px;
    border-radius: 25px 25px 25px 25px;
}

.like{
    display: flex;
    flex-direction: row;
    background-color: #cdcbcb5d;
    align-items: center;
    height: 30px;
    box-sizing: border-box;
    padding: 15px 5px 15px 15px;
    border-right: 1px solid #a5a3a3;
    border-radius: 30px 0 0 30px;
}

.like:hover{
    background: #9c9b9b5d;
}

#gostuei{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.likes p{
    font-size: 14px;
    font-weight: 500;
}

.deslike{
    display: flex;
    background-color: #cdcbcb5d;
    align-items: center;
    height: 30px;
    box-sizing: border-box;
    padding: 15px 15px 15px 0px;
    border-radius: 0 30px 30px 0;
}

.deslike:hover{
    background: #9c9b9b5d;
}

#nao_gostuei{
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

.share{
    box-sizing: border-box;
    display: flex;
    background: #cdcbcb5d;
    margin-left: 20px;
    align-items: center;
    height: 30px;
    padding: 10px;
    border-radius: 30px;
}

.share:hover{
    background: #9c9b9b5d;
}

.share img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.download{
    box-sizing: border-box;
    display: flex;
    background: #cdcbcb5d;
    margin-left: 20px;
    align-items: center;
    height: 30px;
    padding: 10px;
    border-radius: 30px;
}

.download:hover{
    background: #9c9b9b5d;
}

.download img{
    display: flex;
    width: 24px;
    height: 24px;
    margin: 5px;
}

.download p{
    display: flex;
}

.description{
    background: rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-radius: 10px;
    line-height: 2em;
}

.infoserver{
    font-weight: bold;
    color: #0f0f0f;
}

.recomendacao{
    display: flex;
    flex-direction: column;
}

.cards{
    display: flex;
    margin-bottom: 16px;
}

.cards a:first-of-type {
    padding: 10px 15px;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-right: 10px;
}

.cards a:hover{
    background-color: #9c9b9b5d;
    transition: 0.3s;
}

.cards a:first-of-type:hover{
    background: black;
}

.cards a {
    padding: 10px 15px;
    background-color:#cdcbcb5d;
    border-radius: 10px;
    margin-right: 10px;
}

.video_item{
    display: flex;
    margin-bottom: 16px;
    height: 94px;
}

.video_item img{
    width: 168px;
    height:94px;
    border-radius: 10px;
    margin-right: 16px;
}

.video_item .descricao{
    width: 196px;
    height: 73px;
}

.video_item .descricao h3{
    font-size: 1.5rem;
    color: black;
}

.video_item .descricao p{
    color: #515151;
    margin-top: 10px;
    font-size: 1.3rem;
}

/* alterar temanho de fonte para 62,5% */